header {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: #483343;
}

html, body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: #483343;
  text-align: center;
  margin: 0px !important;
  position: absolute;
}

.navigation {
  margin-top: 100px;
}

.navItem {
  margin-right: 1vw;
  font-size: 20px;
  cursor: pointer;
}

@media (min-width: 650px){
  h1 {
    display: inline;
  }
  .navigation {
    float:right;
  }
}

.headline {
  clear: both;
  margin-top: 140px;
  font-weight: 700;
  line-height: 20px;
}

@media (max-width: 650px) {
  .navItem {
    font-size: 13px;
    text-decoration: underline;
  }
  .headline {
    margin-top: 50px;
  }
}

.highlighted {
  color: #9088AA;
}

p {
  max-width: 80%;
  margin: auto;
  font-weight: 1;
}

.introduction {
  margin-top: 50px;
}

.contact {
  padding: 0px;
  line-height: 0px;
  margin-right: 10px;
  background: none;
  border-radius: 100px;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.contact:hover {
  box-shadow: 0 0 10px rgba(51,51,51,0.5);
}
.contact img {
  display: block;
  max-width: max-content;
}

.centerRight {
  margin-top: 15px;
  margin-left: 10%
}

@media (max-width: 650px) {
  .centerRight {
    margin-top: 15px;
  }
  .contact img{
    width: 100%;
  }
}

.rotated {
  transform: skewY(2deg);
  background-color: #FF785A;
  padding-top: 15px;
  padding-bottom: 35px;
}

.background {
  background-color: #FF785A;
  transform: skewY(-2deg);
}

.tertiaryText {
  color: #FFF4EB;
}

.secondaryText {
  color: #FF785A;
}

.experience {
  background-color: #FFF4EB;
  box-shadow: 0 0 10px #333;
  border-radius: 16px;
  max-width: 50%;
  margin: auto;
}

h4.secondaryText {
  margin: 0px;
}
h3.secondaryText {
  margin: 2px;
  margin-top: 5px;
}

.experienceBox {
  padding-top: 1px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.project {
  background-color: #FFF4EB;
  box-shadow: 0 0 10px rgba(51,51,51,0.5);
  border-radius: 2px;
  width: 26%;
  height: 25%;
  padding: 10px;
  margin: auto;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  text-decoration: none;
  @media (max-width: 1100px) {
    max-width: 80vw !important;
  }
}
.project:visited {
  color: #483343;
}
.project:link {
  color: #483343;
}

.project:hover {
  box-shadow: 0 0 10px rgba(51,51,51,0.8);
}

.projects {
  display: flex;
  max-width: 70%;
  margin: auto;
  flex-direction: row;
  @media (max-width: 650px) {
      flex-direction: column !important;
  };
}

.projectimage {
  width: 90%;
  height: 60%;
  box-shadow: 0 0 8px rgba(51,51,51,0.5);
}


@media (max-width: 1100px) {

  .experience {
    max-width: 90%;
  }

  .experienceBox {
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .projects {
    flex-direction: column !important;
  }

  .project {
    width: 80%;
  }

}

@media (max-width: 650px) {
  .experience {
    max-width: 80vw !important;
  }
}

.container {
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

.grid {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-flow: row wrap;
}

.skill {
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  width: 150px;
  height: 40px;
  border-radius: 16px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  background-color: #E9EBEC;
  margin-bottom: 20px;
}
.skill:hover {
  box-shadow: 0 0 8px rgba(0,0,0,0.7);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.overlay img {
  width: 80%;
}

.popup {
  margin: 5% auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 10;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

#resume.popup {
  overflow-y: scroll;
}

@media (max-width: 650px) {
  .popup {
    margin: 20% auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 85%;
    max-height: 70%;
    overflow-y: scroll;
  }
  .popup h2 {
    font-size: 20px;
  }
  .popup p {
    font-size: 15px;
    width: 100%;
  }
  .popup .image {
    width: 100%;
  }
}

@media (max-width: 1100px ) and (min-width: 651px) {
  .popup {
    margin: 10% auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 80%;
    max-height: 80%;
    overflow-y: scroll;
  }
  .popup h2 {
    font-size: 30px;
  }
  .popup img {
    width: 70%;
  }
}